<div class="well">
	<div class="panel panel-primary">
		<div class="panel-heading">
			PATIENT AND PLAN DETAIL
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<%= @table1.html_safe %>
			</table>		
		</div>
	</div>
	

	<div class="panel panel-primary">
		<div class="panel-heading">
			COLLABORATIVE ACCOUNTABLE CARE INFORMATION
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<%= @table2.html_safe %>
			</table>		
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			NOTIFICATION AND REFERRAL
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<%= @table3.html_safe %>
			</table>		
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			HEALTH AND WELLNESS PROGRAMS	
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<%= @table4.html_safe %>
			</table>		
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			MATERNITY	
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<%= @table5.html_safe %>
			</table>		
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			PRESCRIPTION COVERAGE	
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<%= @table6.html_safe %>
			</table>		
		</div>
	</div>
</div>