<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <%# @direction = (rtl?) ? 'rtl/' : '' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <title><%= "Scrapping" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag 'application', media: 'all'%>
    
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name %>">
          <a class="close pull-right" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
    <div id="content_wrapper" >
      <div id="content"> <%= yield %> </div>
    </div>
  </body>
</html>
